.charamain {
  display: flex;
  flex-direction: column;
  background-color: #202020;
  overflow: hidden;
  border-radius: 5px;
  width: 98%;
  margin-top: 20px;
}
.charamain h3 {
  background-color: crimson;
  padding: 5px;
  color: white;
}
.charalist {
  padding: 10px;
}
.charaone {
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.4s;
  border: 4px solid rgb(75, 75, 75);
  margin: 20px 0;
  overflow: hidden;
  height: 128px;
}
.charaone:hover {
  background-color: crimson;
  border: 4px solid crimson;
}
.charatwo {
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.4s;
  background-color: crimson;
  border: 4px solid crimson;
  margin: 20px 0;
  overflow: hidden;
}
.charatwo:hover {
  background-color: crimson;
  border: 4px solid crimson;
}
.chara {
  display: flex;
  align-items: center;
  color: white;
  margin-bottom: 30px;
}
.charaimg {
  margin-right: 10px;
}
.charaimg img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
}
.charatext p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}

.actores {
  display: flex;
  flex-wrap: wrap;
}
.actor {
  margin-right: 25px;
}
.actorimg {
  margin-bottom: 3px;
}
.actorimg img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid white;
}

.actortext {
  color: white;
}
.actortext p {
  font-weight: bold;
  margin-bottom: 5px;
}
.menu {
  display: flex;

  justify-content: space-between;
}
.menu button {
  height: 110px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 70px;
}

@media only screen and (max-width: 1001px) {
  .charamain {
    display: flex;
    flex-direction: column;
    background-color: #202020;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
  }
  .charaimg img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
  }
  .charatext p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  .actorimg img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
  }
  .actor {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .actortext {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .actortext p {
    text-align: center;
    width: 120px;
  }
  .actortext span {
    text-align: center;
  }
}
