.navbar {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 30px;
  color: white;
  width: 200px;
  letter-spacing: 1px;
  text-decoration: none;
}
.logo svg {
  font-size: 50px;
  color: crimson;
}
.logo span {
  display: flex;
}
.logo span span {
  color: crimson;
  font-weight: bold;
}
.hamburguer {
  font-size: 40px;
  color: white;
  transition: 0.4s;
}
.hamburguer:hover {
  color: crimson;
}
.principal {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px 50px;
}
.secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  width: 100%;
  padding: 5px;
  border-top: 4px solid #282828;
  animation: fade 2s linear 0s;
}
.links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}
@media only screen and (max-width: 1400px) {
  .principal {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 10px 20px;
  }
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
  }
  .links a {
    color: white;
    text-decoration: none;
    transition: 0.4s;
    margin-top: 20px;
  }
}

.links a {
  color: white;
  text-decoration: none;
  transition: 0.4s;
}
.links a:hover {
  color: crimson;
}
.overflowc {
  display: flex;
  align-items: center;
}
.overflowc span {
  text-transform: capitalize;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
.overflowc svg {
  font-size: 30px;
}
.search {
  margin-bottom: 40px;
  padding: 10px;
}
.search form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search input {
  max-width: 500px;
  min-width: 300px;
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 20px;
  transition: 0.4s;
}
.search input:focus {
  box-shadow: 0px 0px 10px crimson;
}
.search button {
  font-size: 25px;
  border: none;
  background-color: transparent;
  color: white;
  transition: 0.4s;
}
.search button:hover {
  color: crimson;
}
@keyframes fade {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
.active div {
  color: crimson;
}
.noactive {
  color: rgb(255, 255, 255);
}