.season {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  background-color: #e5e5e5;
  margin-top: 20px;
  border-radius: 10px;
}
.season button {
  width: 50%;
  margin: 10px auto;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  border: 3px solid #232da5;
  background-color: transparent;
  color: #232da5;
  cursor: pointer;
  transition: 0.4s;
}
.season button:hover {
  border: 3px solid #232da5;
  background-color: #232da5;
  color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.seasondivon {
  padding: 15px;
  transition: 0.4s;
}
.seasondivoff {
  overflow: hidden;
  height: 350px;
  padding: 15px;
  transition: 0.4s;
}
.seasonoverfolw {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.pagination button {
  margin: 5px;
  padding: 5px;
  width: 50px;
}
