.genresearch {
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.genrescontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}
.genresoverflowhidden {
  height: 50px;
  transition: 2s;
  overflow: hidden;
}
.genresoverflowon {
  height: auto;
  transition: 0.4s;
}
.dropbutton {
  font-size: 50px;
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 10px;
}
.dropbutton:hover {
  color: crimson;
}
.genrescontainer button {
  width: 150px;
  padding: 10px;
  margin: 5px;
  background-color: transparent;
  border: 3px solid rgba(220, 20, 60, 0.566);
  color: crimson;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;
}
.genrescontainer button:hover {
  background-color: crimson;
  color: white;
}
.genrescontainer button:focus {
  border: 3px solid rgb(35, 35, 35);
  color: white;
  background-color: rgb(35, 35, 35);
}
.animecontainer {
  width: 100%;
  height: auto;
  background-color: #dbdbdb77;
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
}
.animeoverflow {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.animeinterface {
  display: flex;
  flex-direction: column;
  color: rgb(52, 52, 52);
  font-weight: bold;
  width: 95%;
  margin: 10px auto;
  border-bottom: 5px solid rgba(54, 54, 54, 0.931);
  padding: 10px;
}
.animeinterface h1 {
  margin-bottom: 15px;
  font-size: 40px;
}
.animeinterface div {
  display: flex;
  margin-bottom: 15px;
}
.animeinterface p {
  margin-right: 5px;
}
.selector {
  width: 50px;
  border-radius: 5px;
  margin-right: 5px;
}
.selector option:focus {
  background-color: crimson;
}
